<br />
<p>
  <b>Nit:</b>
  <%= @setting.nit %>
</p>

<p>
  <b>Business name:</b>
  <%= @setting.business_name %>
</p>

<p>
  <b>Address:</b>
  <%= @setting.address %>
</p>

<p>
  <b>City:</b>
  <%= @setting.city %>
</p>

<p>
  <b>Telephone:</b>
  <%= @setting.telephone %>
</p>

<p>
  <b>Mail:</b>
  <%= @setting.mail %>
</p>

<p>
  <b>Prefix:</b>
  <%= @setting.prefix %>
</p>

<p>
  <b>Lower range:</b>
  <%= @setting.lower_range %>
</p>

<p>
  <b>Upper range:</b>
  <%= @setting.upper_range %>
</p>

<p>
  <b>Consumption tax:</b>
  <%= @setting.consumption_tax %>
</p>

<p>
  <b>Tip text:</b>
  <%= @setting.tip_text %>
</p>

<p>
  <b>Billing system resolution:</b>
  <%= @setting.billing_system_resolution %>
</p>

<p>
  <b>Billing resolution:</b>
  <%= @setting.billing_resolution %>
</p>

<p>
  <b>Date:</b>
  <%= @setting.date %>
</p>


<%= link_to 'Edit', edit_setting_path(@setting) %>