<%= form_for(@table) do |f| %>
  <% if @table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@table.errors.count, "error") %> <%= t(:prohibited_this_table_from_being_saved) %></h2>

      <ul>
      <% @table.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field columns small-12 medium-4">
    <%= f.label :name, t(:table_name) %>
    <%= f.text_field :name, maxlength: 3%>
  </div>
  <div class="field columns small-12 medium-4">
    <%= f.label :description, t(:description) %>
    <%= f.text_field :description %>
  </div>
  <div class="field columns small-12 medium-4">
    <%= f.label :auxiliar, "Mesa auxiliar?" %>
    <%= f.check_box :auxiliar %>
  </div>
  <div class="actions columns small-12">
    <%= f.submit t(:save), disable_with: t(:saving), class: "button success"  %>
  </div>
  
<% end %>
