<div class="contents">
  <h2 class="dark-gray"><%= t(:listing_tables) %></h2>
  <div class="content shown">
    <div class="table shown">
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th><%= t(:name) %></th>
            <th><%= t(:description) %></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          <% @tables.each do |table| %>
            <tr>
              <td><%= table.name %></td>
              <td><%= table.description %></td>
              <td><%= link_to raw('<i class="icon-edit icon-white"></i>'), edit_table_path(table), class: 'icon-button green' %></td>
              <td><%= link_to raw('<i class="icon-ban-circle icon-white"></i>'), table, method: :delete, data: { confirm: t(:are_you_sure_?) }, class: 'icon-button red' if table.bills.empty?%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="tab-links">
  <%= link_to raw("<i class='icon-plus'></i>Nueva Mesa"), new_table_path %>

</div>