<p id="notice"><%= notice %></p>

<p>
  <b><%= t(:name)+':' %></b>
  <%= @table.name %>
</p>

<p>
  <b><%= t(:description)+':' %></b>
  <%= @table.description %>
</p>


<%= link_to image_tag('edit.png'), edit_table_path(@table), class: 'action_button' %> |
<%= link_to image_tag('back.png'), tables_path, class: 'action_button' %>
